<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TakeIt - Buy Ticket</title>
        <link rel="stylesheet" type="text/css" href="/main-style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar playwrite-dk-uloopet">
            <ul>
                <li><a href="#Home"><%= __("home") %></a></li>
			    <li><a href="/concert/concert"><%= __("concert") %></a></li>
                <li><a href="#Orderhistory"><%= __("order_history") %></a></li>
                <li><a href="#profile"><%= __("profile") %></a></li>
            </ul>
        </div>

        <div class="concerts playfair-display">
            <div class="row g-4">
				<% concerts.forEach(c => { %>
				<div class="col-md-4">
					<div class="card h-100" id="concert-card">
						<div class="card-body">
							<h4 class="card-title"><%= c.title %></h5>
							<p class="card-text text-muted"><%= c.date ><%= c.location %></p>
							<a href="/customer/buy_ticket/<%= c.id %>" class="btn btn-primary w-100" id="view-button"
								>View Menu</a
							>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
        </div>
    </body>
</html>